<header class="navigation">
    <section class="content">
        <section class="navbar">
            <nav class="nav-brand">
                <a class="logo" href="/"><img class="svg-image" data-src="{{'img/logo.svg' | relative_url }}"></a>
            </nav>
            <nav class="nav-side">
                <section id="sidemenu" class="collapsed">
                    <ul class="menu nav-menu">
                        {% for menu in site.data.menu %}
                        <li><a href="{{menu.link}}">{{menu.name}}</a></li>
                        {% endfor %}
                    </ul>
                </section>
            </nav>
            <nav class="nav-side">
                <button id="button" class="btn btn-navbar btn-collpase hide ">
                    <img class="svg-image" data-src="{{'img/svg/menu.svg' | relative_url }}">
                </button>
            </nav>
        </section>
    </section>
</header>