---
layout: basic
title: Consola Nintendo Switch OLED
---

<div class="page-item">
    {% assign item = site.data.nintendo-switch %}
    <div class="panel">
        <h2>{{ item.name }}</h2>
        <div class="box">
            <div class="view">
                <img class="item" src="{{ item.src }}">
            </div>
        </div>
        <div class="box">
            {% if item.stock == 0 %}
            <p>No hay Stock</p>
            {% else %}
            <ul class="list-menu">
                {% for price in item.prices %}
                <li>Comprar <a class="btn btn-link" onclick="$.buy({{ price.value }}.toFixed(2));" href="{{ item.link }}#{{ price.value }}">portátil {{ price.name }}</a></li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div>
            <p>{{ item.description }}</p>
        </div>
        <div>
            <p>{{ item.specs }}</p>
        </div>
    </div>
</div>