<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{page.title}}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ '/css/base.css' | relative_url }}" />
	<link rel="stylesheet" href="{{ '/css/main.css' | relative_url }}" />
	<script type="text/javascript" src="{{ '/js/jquery-3.6.1.min.js' | relative_url }}"></script>
	<script type="text/javascript" src="{{ '/js/plugin.modal.js' | relative_url }}"></script>
	<script type="text/javascript" src="{{ '/js/plugin.form.js' | relative_url }}"></script>
	<script type="text/javascript" src="{{ '/js/plugin.slideshow.js' | relative_url }}"></script>
	<script type="text/javascript" src="{{ '/js/svg-injector.min.js' | relative_url }}"></script>
</head>
<body>
	{% include header.html %}
	<main>
		<div class="content">
			<div id="slideFeatured" class="h-carousel">
				<div class="hv-content">
					<div class="items">
						{% for item in site.data.slide.sample %}
						<div class="item"><img alt="{{item.name}}" src="{{item.src}}"></div>
						{% endfor %}
					</div>
				</div>
			</div>
			<br>
			<div class="row">
				{% for item in site.data.slide.sample-b %}
				<div class="col-4">
					<div class="box option">
						<img src="{{ item.src | relative_url }}">
						<div class="details more spacing-2 bottom-up">
							<span>{{ item.name }}</span>
							<p>{{ item.desc }}</p>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
		<script>
			$('#slideFeatured').slideshow({time:2000,kind:'slide'});
		</script>
	</main>
	<main>
		<section class="content">
			<div class="main-content">
				{{ content }}
			</div>
		</section>
	</main>
	{% include footer.html %}
	{% include scripts.html %}
</body>
</html>